<!DOCTYPE html>
<html lang="en">

<head>
    <title>Le Pot du Vendredi</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jumbotron-narrow.css') }}" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation">
                        <a href="{{ url_for('cas.logout') }}">Déconnexion</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bonjour, {{ username }}</h3>
        </div>

        <div class="jumbotron">
            {% if is_coming %}
                <h1>Cool, tu viens !</h1>       
                <h3>Nous serons {{ count }}.</h3>
                <p>
                    <br/>
                    <a class="btn btn-lg btn-danger" href="-1" role="button">Annuler</a>
                </p>
            {% else %}
                <h1>Présent ?</h1>       
                <br/>
                <p>
                    <a class="btn btn-lg btn-success" href="+1" role="button">Ouais</a>
                </p>
            {% endif %}
        </div>

        <div class="row marketing">
            <h4>Organisation: La règle du QOQQ</h4>
            <br/>    
            <div class="col-lg-6">
                <h4>Qui ?</h4>
                <p>Grands travailleurs et assoiffés devant l'éternel, tes collègues du 84 seront ravis de partager une boisson aux nombreuses vertues avec toi.</p>

                <h4>Où ?</h4>
                <p>Plaque tournante des pots du vendredi, le Gévaudan est à deux pas de ton bureau et sera ravi de te servir un coca jaune, du pinard, une bière, ou une assiette de frites.</p>

            </div>

            <div class="col-lg-6">
                <h4>Quand ?</h4>
                <p>Le pot du vendredi soir commence généralement le vendredi soir, après ta journée de travail, mais si tu n'as pas beaucoup à faire tu peux commencer le matin.<br/>Si tu as une grosse consommation et que tu souhaites faire des économies, l'Happy Hour commence à 18h30.</p>
                
		<h4>Quoi ?</h4>
                <p>Le matériel (tireuse à bière, tables, chaises) est déjà disponible sur place, mais tu peux bien sûr amener tout ce que tu veux si tu penses que ça te fera plaisir ou plaisir à tes collègues: feux d'artifices, piscine gonflable, chaton, ...</p>
            </div>
        </div>

        <footer class="footer">
            <p>
                <img src="{{ url_for('static', filename='img/copyleft-icon.png') }}" />
                Le code source et le contenu de ce sondage sont sous licence <a href="http://fr.wikipedia.org/wiki/Beerware" target="_blank">Beerware</a>. 
                <img src="{{ url_for('static', filename='img/github.png') }}" />
                <a href="https://github.com/jri-sp/lepotduvendredi" target="_blank">GitHub</a>.
            </p>
        </footer>

    </div>
</body>

</html>
